<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ClientFlow</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>

  <% if (user) { %>
    <h1>Welcome back to ClientFlow, <%= user.username %>!</h1>
  <% } else { %>
    <h1>Welcome to ClientFlow</h1>
    <p>Please sign in or sign up to get started.</p>
  <% } %>
</body>
</html>

